# cert-template.cfg

organization = "My Company"
cn = "vpn.example.com"
serial = 1
expiration_days = 3650

# Set to 'yes' if this is a server certificate
tls_www_server = yes

# Allow this certificate to be used for server authentication
encryption_key = yes
signing_key = yes

# Not a Certificate Authority
ca = no
